p{
	text-align: center;
}
.cards {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  display: grid;
  flex-direction: row;
  height: 600px;
  margin: 30px;
  text-align: center;
} 
.card {
  background-color: white;
  text-align: center;
  padding: 197px
}

#first-card {
	background-image: url('../images/appartement.jpeg');
	background-size: cover;
}
#first-card:hover {
	background: radial-gradient(circle, rgba(184,31,120,1) 0%, rgba(184,31,120,1) 100%);
	opacity: 90%;
}
.btn-appartement {
  color: white;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bolder;
  border: 1px solid white;
}
#second-card {
	background-image: url('../images/maison.jpeg');
	background-size: cover;
}
#second-card:hover {
	background: radial-gradient(circle, rgba(184,31,120,1) 0%, rgba(184,31,120,1) 100%);
	opacity: 90%;
}
.btn-maison {
	color: white;
	background-color: transparent;
	padding: 8px 16px;
	border-radius: 6px;
	font-weight: bolder;
	border: 1px solid white;
}